html {
  font-family: Arial, Helvetica, sans-serif, system-ui;
  font-size: 24px;
  background-color:aqua;
  max-width: 600px;
  min-width: 300px;
}

.container{
  border: 1px solid black;
}

.title{
  font-size: 2rem;
}

.title,
.message,
.score{
  text-align: center;
  margin: 10px 0;
}

.player-choice,
.cpu-choice{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}

button{
  text-align: center;
  padding: 10px 30px;
  margin: 0px 100px;
  border: 3px solid aqua;
}

.selected{
  border: 3px solid black;
}

@media screen and (min-width: 600px) {
  html{
    min-width: 100vw;
    display: flex;
    justify-content: center;
  }

  .player-choice,
  .cpu-choice{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  } 

  .player-choice > button,
  .cpu-choice > button{
    flex: auto;
    margin: 10px;
  }
}